# Si cette option est activée, l'interface utilisateur utilisera des données simulées au lieu d'interroger l'API.
# REACT_APP_USE_MOCK=true

# Activez cette option pour modifier l'URL de l'API utilisée.
# Par défaut, l'URL de l'API est 'http://localhost:8000/api'
# REMARQUE : Utile uniquement lorsqu'on n'utilise pas la simulation.
# REACT_APP_API_URL='https://example.com/api'