# If set the frontend will use a mock of data instead of fetching an api.
# REACT_APP_USE_MOCK=true

# Set it to change the fetched api url.
# Default api url is 'http://localhost:8000/api'
# NOTE : Only usefull when not using the mock.
# REACT_APP_API_URL='https://mywebsite.com/api'