.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    padding: 30px 50px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -8.38%, #FFFFFF 100%);
    border-radius: 20px;

    .distance {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        span {
            font-size: .875rem;
            color: #707070;
        }

        .achievement {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            padding: 1.75rem;
            background: #0B23F4;
            border-radius: 10px;

            h4 {
                color: white;
            }
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 70px;

    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            span {
                font-weight: 500;
                color: #707070;
            }
        }

        .container {
            display: flex;
            align-items: stretch;
            gap: 1.5rem;

            > :first-child {
                width: 450px;
            }

            > :last-child {
                flex-grow: 1;
            }

            .weeklyGoal {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 350px;
                padding: 16px 40px;
                background: #fff;
                border-radius: 10px;

                .header {
                    display: flex;
                    flex-direction: column;

                    .title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: .375rem;
                        height: 50px;

                        h3 {
                            color: #0B23F4;
                        }

                        span {
                            color: #B6BDFC;
                            font-weight: 500;
                        }
                    }
                    
                    span {
                        font-size: .875rem;
                        color: #707070;
                    }
                }
            }

            .stats {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;
            }
        }
    }
}