.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        width: 45%;
        height: 100vh;
        min-width: fit-content;
        padding-block: 55px;
        padding-inline: 100px;
        background: #F2F3FF;

        form {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 40px;
            width: 400px;
            background: white;
            border-radius: 20px;
    
            h3 {
                color: #0B23F4;
            }
    
            .fields {
                display: flex;
                flex-direction: column;
                gap: 24px;
                
                .field {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
    
                    label {
                        font-size: 14px;
                        color: #707070;
                    }
    
                    input {
                        padding: 20px;
                        border-radius: 10px;
                        border: .5px solid #707070;
                        transition: all .5s;
                        
                        &:focus {
                            border: .5px solid #0B23F4;
                            outline: none;
                        }
                    }
                }
            }
    
            a {
                font-size: 14px;
            }
        }
    }

    .background {
        position: relative;
        width: 55%;
        overflow: hidden;

        img {
            height: 100%;
        }

        p {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            padding: 1rem;
            font-size: 14px;
            color: #0B23F4;
            background: #fff;
            border-radius: 50px;
            text-align: center;
        }
    }
}